BEGIN;

-- 1. Create a fake lesson and student
INSERT INTO public.profiles (id, full_name, role) VALUES ('00000000-0000-0000-0000-000000000001', 'Test Student', 'aluno') ON CONFLICT DO NOTHING;
INSERT INTO public.classes (id, name, modality) VALUES ('00000000-0000-0000-0000-000000000002', 'Test Class', 'online') ON CONFLICT DO NOTHING;
INSERT INTO public.scheduled_lessons (id, class_id, scheduled_at, duration_minutes, started_at) VALUES ('00000000-0000-0000-0000-000000000003', '00000000-0000-0000-0000-000000000002', now(), 60, now()) ON CONFLICT DO NOTHING;

-- 2. Simulate initial connection flush (creates row)
SELECT public.attendance_increment_duration(
  '00000000-0000-0000-0000-000000000003',
  '00000000-0000-0000-0000-000000000001',
  10, 0, 0, null, now(), null, null, null, '11111111-1111-1111-1111-111111111111'
);

-- Show state 1
SELECT status, manually_overridden, duration_seconds FROM attendance WHERE scheduled_lesson_id = '00000000-0000-0000-0000-000000000003';

-- 3. Simulate manual override
SELECT public.attendance_upsert_with_key(
  '00000000-0000-0000-0000-000000000003',
  '00000000-0000-0000-0000-000000000001',
  '22222222-2222-2222-2222-222222222222',
  'present',
  '00000000-0000-0000-0000-000000000001',
  null, null, true
);

-- Show state 2
SELECT status, manually_overridden, duration_seconds FROM attendance WHERE scheduled_lesson_id = '00000000-0000-0000-0000-000000000003';

-- 4. Simulate next flush
SELECT public.attendance_increment_duration(
  '00000000-0000-0000-0000-000000000003',
  '00000000-0000-0000-0000-000000000001',
  10, 0, 0, null, null, null, null, null, '33333333-3333-3333-3333-333333333333'
);

-- Show state 3
SELECT status, manually_overridden, duration_seconds FROM attendance WHERE scheduled_lesson_id = '00000000-0000-0000-0000-000000000003';

ROLLBACK;
